<html lang="en">
<head>
<title>Login</title>
</head>
<body>
<div class="element1"> 
     <form action="/login" method="post">
     <h3>Sign In</h3>
     <div data-validate="Please enter username">
     <input type="text" name="userName" placeholder="Username">
     </div>
     <div data-validate = "Please enter password">
          <input type="password" name="password" placeholder="Password">
     </div>
     <div>
          <button>Sign in</button>
     </div>
     </form>
</div>
<div class="element2">
     <form action="/" method="get">
          <button>Back to Welcome page</button>
     </form>
</div>
</body>
</html>